<div class="top p-2">
    <h2 class='text-light text-center h1'>Welcome</h2>
</div>

<div class="splash">
    <%= image_tag "logo.png" %>
    <div class='d-flex splash-footer p-3 justify-content-between gap-2'>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary border border-light p-2 text-light col-6' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-dark border border-light text-light col-6 p-2' %>
    </div>
</div>